
@{
    ViewBag.Title = "Index";
}

<br />
<br />
<a class="btn btn-success" @Html.ActionLink("Incluir novo contrato", "NovoContrato", "Contrato")<span class="sr-only">(current)</span></a>
<br />
<br />
<a class="btn btn-primary" @Html.ActionLink("Lista de contratos", "ListaContratos", "Contrato")<span class="sr-only">(current)</span></a>
<br />
<br />
<a class="btn btn-danger" @Html.ActionLink("Impressão Contrato", "ImpressaoContrato", "RPTContrato")<span class="sr-only">(current)</span></a>

@*<br/>

        @Html.ActionLink("Cadastro Locatário", "NovoLocatario", "Locatario")

    <br/>

        @Html.ActionLink("Cadastro Locador", "NovoLocador", "Locador")*@



