@model ContratoLocacao.Web.Models.InclusaoContratoModelo

@{
    ViewBag.Title = "NovoContrato";
}

<h2>Inclusao de Contrato</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        <div class="jumbotron-fluid">
            <h3>Dados do locador</h3>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IdLocador, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.IdLocador, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.IdLocador, new SelectList(Model.LocadorSelecionado, "Value", "Text"), new { @class = "form-control", id = "ListaLocador", })
                @Html.ValidationMessageFor(model => model.IdLocador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdLocatario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.IdLocatario, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.IdLocatario, new SelectList(Model.LocatarioSelecionado, "Value", "Text"), new { @class = "form-control", id = "ListaLocatario", })
                @Html.ValidationMessageFor(model => model.IdLocatario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdFiador, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.IdFiador, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.IdFiador, new SelectList(Model.FiadorSelecionado, "Value", "Text"), new { @class = "form-control", id = "ListaFiador", })
                @Html.ValidationMessageFor(model => model.IdFiador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdTipoGarantia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.IdTipoGarantia, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.IdTipoGarantia, new SelectList(Model.TipoGarantiaSelecionado, "Value", "Text"), new { @class = "form-control", id = "ListaTipoGarantia", })
                @Html.ValidationMessageFor(model => model.IdTipoGarantia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdImovel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdImovel, new SelectList(Model.ImovelSelecionado, "Value", "Text"), new { @class = "form-control", id = "ListaImoveis", })
                @*@Html.EditorFor(model => model.IdImovel, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.IdImovel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorLocacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorLocacao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorLocacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiaPagamento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaPagamento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiaPagamento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrazoLocacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrazoLocacao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrazoLocacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReajusteACada, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReajusteACada, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReajusteACada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataInicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataInicio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataInicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataFim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataFim, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataFim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success" name="action" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index", "Home")
</div>



@section stripts{
    <script type="text/javascript">
        $(function (){
            $("#FormControl").chosen();
            //height:35px;
           });
    </script>
}